
:root{
    --font-heading: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --font-heading-size: 24px;
    --font-heading-weight: 700;
    --font-body-size: 16px;
    --font-body-weight: 400;
    --btn-color: #1D1D1F;
    --card-left: #D2D5DA;
    --input: #E5E7EB;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--input);
    width: 100vw;
}

.container{
    background: url('./resources/background-image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 200px;
    position: relative;
    z-index: 1;
}

.bg-container{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40px;
    left: 500px;
}

.bg-container h1{
    font-size: 30px;
    font-weight: var(--font-heading-weight);
    letter-spacing: 1px;
}

.bg-container p{
    font-size: 15px;
    font-weight: var(--font-heading-weight);
    background-color: #1D1D1F;
    padding: 8px 15px;
    border-radius: 50px;
}

.card{
    width: 90%;
    height: fit-content;
    position: absolute;
    top: 100px;
    left: 70px;
    border-radius: 15px;
    display: flex;
    overflow: hidden;
    margin-bottom: 50px;
}

.card-left{
    background: var(--card-left);
    width: 50%;
    height: fit-content;
}

.card-right{
    background-color: #fff;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.card-left .item{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px 25px;
}

.item .image img{
    width: 80px;
    height: 100px;
    background: #fff;
    padding: 10px 20px;
    border-radius: 10px;
}

.description{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.model, .quantity{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.model h1{
    font-family: var(--font-heading);
    font-size: 20px;
    font-weight: var(--font-heading-weight);
}

.model p{
    font-family: var(--font-heading);
    font-size: 18px;
    font-weight: 700;
}

.color p{
    color: #394150;
    font-family: var(--font-heading);
    font-size: 18px;
    font-weight: 200;
}

.quantity{
    margin-top: 15px;
}

.quantity-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.quantity img{
    width: 20px;
    height: 20px;
}

.quantity-content p{
    font-family: var(--font-heading);
    font-size: 18px;
    font-weight: lighter;
    color: #394150;
    margin: 0 5px;
}

.input{
    padding-top: 20px;
    border-top: 1px solid #1D1D1F;
    margin: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.input input{
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #394150;
}

.input button{
    width: 30%;
    padding: 10px 20px;
    border-radius: 5px;
    background: var(--btn-color);
    color: #fff;
    font-family: var(--font-heading);
    font-weight: 500;
}

.total{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 20px 20px 20px;
}

.total1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total1 p{
    font-size: 15px;
    font-family: var(--font-heading);
    color:  #394150;
}

.imp{
    color: #000 !important;
}

.card-right h1{
    font-family: var(--font-heading);
    font-size: 18px;
    margin-bottom: 30px;
}

.input-fields{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.input-fields label{
    font-family: var(--font-heading);
    color: #394150;
}

.input-fields input{
    padding: 10px 20px;
    background: #E5E7EB;
    border: 1px solid #D2D5DA;
    border-radius: 8px;
}

.input-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-area .input-field2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-field2 label{
    font-family: var(--font-heading);
    color: #394150;
}

.input-field2 input, select{
    width: 250px;
    padding: 10px 20px;
    background: #E5E7EB;
    border: 1px solid #D2D5DA;
    border-radius: 8px;
    margin-bottom: 20px;
}

.card-right button{
    width: 100%;
    padding: 10px 20px;
    background: #000;
    color: #fff;
    font-size: var(--font-heading);
    border-radius: 8px;
    border: 1px solid transparent;
}

@media (max-width: 768px){
    .container{
        width: 100%;
        height: 300px;
    }

    .bg-container{
        position: absolute;
        top: 50px;
        left: 175px;
    }

    .card{
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        left: 50px;
    }

    .card-left{
        overflow: hidden;
        width: 80%;
    }

    .card-right{
        width: 80%;
    }

    .input-area{
        display: flex;
        flex-direction: column;
    }
}